<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/png" />
    <title>SGAQ - Perfil</title>

    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/partials/page-header.css" />
    <link rel="stylesheet" href="../static/styles/partials/cards.css" />
    <link rel="stylesheet" href="../static/styles/partials/buttons.css" />
    <link rel="stylesheet" href="../static/styles/partials/forms.css" />
    <link rel="stylesheet" href="../static/styles/partials/animations.css" />
    <link rel="stylesheet" href="../static/styles/pages/profile.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    
  </head>
  <body id="page-profile">

    <header class="page-header inner">  
        <div class="container animate-up">
          <a href="../templates/index.html" class="back">
            <img src="../static/images/back.svg" alt="" />
          </a>
          <h1>Perfil</h1>
        </div>
    </header>
    <div class="container animate-up delay-2">
      <aside class="card">
        <img src="<%= profile.avatar %> " alt="<%= profile.name %> ">
        <h2><%= profile.name %> </h2>
        <button class="button green" form="form-profile" type="submit">Salvar dados</button>
      </aside>
      <main>

        <form id="form-profile" method="post" action="/profile">
          <fieldset>
            <legend>Dados do perfil</legend>
            <div class="separator light"></div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" value="<%= profile.name %> "/>
              </div>
              <div class="input-wrapper">
                <label for="name">Matricula</label>
                <input type="text" id="matricula" name="matricula" value="<%= profile.matricula %> "/>
              </div>

              <div class="input-wrapper">
                <label for="avatar">Link da foto</label>
                <input 
                placeholder="https://"
                type="url" 
                id="avatar" 
                name="avatar"
                value="<%= profile.avatar %>" />
              </div>
            </div>
          </fieldset>
    
        </form>
      </main>
    </div>
    <!-- end container -->
  </body>
</html>
 