<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <title>Sistema de Gerenciamento de Alunos</title>
    <meta name="author" content="Sidney,Gustavo,Leonardo,Davi,Matheus">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
</head>
    <body>
    <!-- Header -->
    <header th:fragment="cabecalho">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #41414C">
            <a th:href="@{/index}" class="navbar-brand" >
                <img src="/img/logo2.svg" style="padding-left:30px;" width="100px"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navMobile" class="navbar-collapse collapse justify-content-end">

                <a th:href="@{/index}" class="btn-nav nav-item nav-link"><i class="bi bi-house-door"></i> Home</a>
                <a class="btn-nav nav-item nav-link" th:href="@{/aluno/inserirAlunos}"><i class="bi bi-person-plus"></i> Cadastrar Aluno</a>
                <a class="btn-nav nav-item nav-link" th:href="@{/quadra/inserirQuadras}"><i class="bi bi-layout-text-sidebar"></i> Cadastrar Quadra</a>
                <a class="btn-nav nav-item nav-link" th:href="@{/reserva/inserirReservas}"><i class="bi bi-people"></i> Cadastrar Reserva</a>
                <a class="btn-nav nav-item nav-link" th:href="@{/equipamento/inserirEquipamentos}"><i class="bi bi-pc-display"></i> Cadastrar Equipamento</a>
                <a class="btn-nav nav-item nav-link" th:href="@{/aluno/pesquisa}" ><i class="bi bi-search"></i> Pesquisar</a>
                <form action="/logout" method="post">
                <button type="submit" class="btn-nav-sair nav-item nav-link btn-danger"><i class="bi bi-box-arrow-right"></i>Sair</button>
                </form>

            </div>
        </nav>
    </header>
    <!-- Footer -->
    <footer th:fragment="rodape">
        <div class="rodape">
            <span>Todos os Direitos Reservados - 2023; SGAQ - Sistema de Gerenciamento de Alocação de Quadra</span>
        </div>
    </footer>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>